body, html {
  overflow-y: hidden;

  &, .container {
    &, & > .row {
      height: 100%;
    }
  }
}

body.home {
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: 50% auto;
}
