@import "var";

body, html {
  overflow-y: hidden;

  &, .container {
    &, & > .row {
      height: 100%;
    }
  }
}

body.home {
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: 50% auto;
}

.app-body {
    height: calc(100% - #{$navbar-height});
    margin: $navbar-height 0 0 0;
}
