@import "bootstrap/variables";
@import "var";

#filter-menu {
    padding: 0;
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1600;
    top: 0;
    left: 0;
    background-color: $black;
    overflow-x: hidden;
    transition: 0.3s;

    #filter-headbar {
        padding: $navbar-padding-y $navbar-padding-x;
        display: flex;
        flex-wrap: wrap;
        overflow-y: hidden;
        max-height: $navbar-height;

        button {
            margin-left: auto;
        }

        h2 {
            margin-bottom: -$h2-font-size + $input-btn-line-height;
            padding: 0;
            margin-bottom: auto;
        }
    }

    #filter-container {
        height: calc(100% - #{$navbar-height});
        max-height: calc(100% - #{$navbar-height});
        overflow-y: scroll;
    }

    #filter-container, #filter-headbar {
        margin: 0;
        overflow-x: hidden;
    }

    &.close {
        width: 0;
    }
}
