@import "var";

#map, #report, #comparator-left, #comparator-right {
    height: 100%;
    width: 50%;
    float: left;
}

#comparator, #statistics {
    width: 100%;
}

#comparator {
    height: 40%;
}

#statistics {
    height: 60%;
}

.app-body {
    height: calc(100% - #{$navbar-height});
    margin: $navbar-height 0 0 0;
}
