:root {
    --cyan: #17a2b8;
    --red: #dc3545;
}

#app .map {
    position:relative;
    border-right: 1px solid #ced4da;
    padding: 5px 5px;
    float: left;
    width: 50%;
    height: 100%;
}

#app .right{
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
    padding: 5px 5px;
}

#app #comparator, #statistics {
    width: 100%; }

#app #comparator {
    height: 40%;
    margin-bottom: 16px;
}

#app #comparatorResult {
    overflow-y: scroll;
    height: calc(100% - 40px);
    width: 100%;
}

@media (max-width: 9000px) {
    #map{
        width:49%;
    }
}

@media (max-width: 700px) {
    #map{
        width:4%;
    }
}

@media (max-width: 550px) {
    #map{
        width:80%;
    }
}


#app .map.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

/* Change background color of buttons on hover */
#app .tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
#app .tabcontent {
    color: black;
    display: none;
    padding: 50px;
    text-align: center;
}

#app .pics {
    max-width: 60%;
    max-height: 60%;
    display: block;
}

#app .sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #444;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}


#app .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
#app .sidenav .closebtn:hover {
    color: var(--red);
}

#app_openNav{
    /*width : 50px;*/
    font-size:32px;
    cursor:pointer;
    z-index: 1000;
    color: #ccc;
    position: fixed;
    margin-left: 1%;
    margin-top: 0.5%;
}
#app_openNav span:hover{
    color: var(--cyan);
}

#app_side_bottom {
    position: fixed;
    bottom: 0;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 25%;
}
#app_side_bottom #app_refresh{
    float: right;
}

#app_side_bottom #app_upload{
    float: right;
    margin-right: 5px;
}

.filters{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
}

.sliders{
    padding-left: 20px;
    padding-right: 20px;
}

.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}
.noUi-base .noUi-connect {
    background-color: var(--cyan);
}

.noUi-handle {
    background-color: #ebebeb;
    border: none;
    border-radius: 15px;
}
#create, #login{
    color: white !important;
    height: 100%;
    width: 100%;
    background: #212529;
}
#accueil{
    color: white !important;
    height: 100%;
    width: 100%;
    background: #212529 url(../img/background.jpg) no-repeat;
    background-size: 50% 100%;
}
#create nav{
    width: 50%;
}
#create main{
    width: 100%;
}
#create .form-control{
    border-width: 2px;
}

#accueil .container {
    position: relative;
    top: 35%;
}

#app_filters .form-group {
    padding: 12px 24px 20px 24px;
    margin: 0;
}

#app_filters .form-group:hover {
    background-color: #666;
}

#app_filters {
    padding: 0;
}
